body {
  margin: 0;
  padding: 0;
  min-width: 300px;
  max-width: 900px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img{
    width: 150px;
    height: 150px;
}
ul {
  display: flex;
}
ul li {
  list-style: none;
  margin-right: 15px;
}

nav{
    align-self: flex-end;
}

nav ul li a {
  text-decoration: none;
}

#Hero {
  background-image: url("https://images.pexels.com/photos/4913537/pexels-photo-4913537.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: bottom;
  height: 600px;
  display: flex;
}
.slogan {
  margin: auto;
  text-align: center;
}

.oreiller,
.Lit,
.Chambre {
  width: 250px;
  border: 1px solid black;
  border-radius: 5px;
}
.oreiller img,
.Lit img,
.Chambre img {
  width: 100%;
  height: 150px;
}
#Produit {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
}

#contact {
  display: flex;
  height: 400px;
  background-color: #f2f2f2;
}
.contactUs {
  margin: auto;
}
footer {
  display: flex;
  justify-content: space-around;
  background-color: #000000;
}
footer p {
  width: 200px;
  color: #ffffff;
  text-align: justify;
}

.oreiller h2,
p,
.Lit h2,
p,
.Chambre h2,
p {
  padding: 0 15px;
}
.oreiller p,
.Lit p,
.Chambre p {
  text-align: justify;
}

/* Fomrulaire*/

input[type^="text"] {
  padding: 15px;
  border-radius: 5px;
  width: 400px;
}
input[type^="email"] {
  padding: 15px;
  border-radius: 5px;
  width: 400px;
  background-color: #c2c2c2;
}
input[type^="submit"] {
  padding: 10px;
  border-radius: 5px;
  background-color: blue;
  color: #fff;
}
input[type^="submit"]:hover {
  background-color: rgb(255, 217, 0);
  color: #000;
}
#email::placeholder {
  color: #fff;
}

.contactUs h2{
    text-align: center;
}

@media (max-width:1048px){
/* produits */
#Produit {
    display: flex;
    flex-wrap: wrap;
  }
.oreiller, .Lit, .Chambre{
    width: 100%;
    margin: 15px auto;
}



footer{
    display: flex;
    flex-wrap: wrap;
}

footer p{
    width: 100%;
}

}

@media (max-width: 500px){
    .oreiller img, .Lit img, .Chambre img{
        width: 300px;
        margin-left: 19%;
    }
}