body{
    margin: 0;
    padding: 0;
    width: 900px;
    margin: auto;
}

header{
    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
}
ul{
    display: flex
}
ul li{
    list-style: none;
    margin-right: 15px;
}

nav ul li a{
    text-decoration: none;
}

#Hero{
    background-image: url('https://via.placeholder.com/1920X600');
    height: 600px;
    display: flex;
}
.slogan{
    margin: auto;
    text-align: center;
}

.oreiller,.Lit,.Chambre{
    width: 250px;
    border: 1px solid black;
    
}
.oreiller img,.Lit img,.Chambre img{
    width: 100%;
}
#Produit{
display: flex;
justify-content: space-between;
}

#contact{
    display: flex;
    height: 400px;
    background-color: #f2f2f2;
}
.contactUs{
    margin: auto;
}
footer{
    display: flex;
    justify-content: space-around;
    background-color: #000000;
}
footer p{
    width: 200px;
    color: #ffffff;
    text-align: justify;
}